table {
  width: 100%;
}
/* .mat-select {
  border: 1px solid lightseagreen !important ;
  background: lightseagreen;
  height: 30px !important;
} */
/* .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
} */
